---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Clone this.">
	<div id="intro">
		<div>
			<h2>I like to make <mark><a id="projects-link" href="#projects">projects</a></mark>.</h2>
			<h3>Here are some bare-bones starter projects that you can deploy and make them your own.</h3>
			(psssst... check out the <a href="/shop">shop</a>.)
		</div>
	</div>
	<dialog id="projects-dialog">
		<form method="dialog">
			<button id="close">X</button>
		</form>
		<ul>
			<li><mark><a href="https://xoXR.games" target="_blank">xoXR.games</a></mark> (play WebXR games)</li>
			<li><mark><a href="https://Dwane.in" target="_blank">Dwane.in</a></mark> (travel journal/photogallery)</li>
			<li><mark><a href="https://UntilIt.works" target="_blank">UntilIt.works</a></mark> (live study sessions)</li>
			<li><mark><a href="https://MySlides.page" target="_blank">MySlides.page</a></mark> (my talk slides)</li>
			<li><mark><a href="https://MyWorkshops.live" target="_blank">MyWorkshops.live</a></mark> (my workshops)</li>
			<li><mark><a href="https://KnowBetterHIPHOP.com" target="_blank">KnowBetterHIPHOP.com</a></mark> (my radio show)</li>
			<li><mark><a href="https://LifeLong.dev" target="_blank">LifeLong.dev</a></mark> (personal website)</li>
			<li><mark><a href="https://OTech.events" target="_blank">OTech.events</a></mark> (watch Orlando tech talks)</li>
			<li><mark><a href="https://WhatsThat.in" target="_blank">WhatsThat.in</a></mark> (currency convertor)</li>
		</ul>
</dialog>
	
</Layout>


<script is:inline  data-astro-rerun>
  
	document.addEventListener('astro:page-load', () => {
	  // This only runs once.
	  // setupStuff();
	  console.log("check for hashtag");
	  console.log("location.hash: ",window.location.hash);
  
		const projectsLinkEl = document.querySelector("#projects-link");
		const projectsDialog = document.querySelector("#projects-dialog");
  
		if(window.location.hash.includes("projects")){
		  projectsDialog.showModal();
		}
  
		projectsLinkEl.addEventListener("click", () => projectsDialog.showModal());
  
  
	  }, { once: true });
  
  </script>
  
  
<style>
	#intro {
		height: 98%;
		display: grid;
		place-items: center;
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	h3 {
		max-width: 500px;
		width: 100%;
		font-weight: 500;
	}
	ul {
		padding-inline-start: 12px;
		font-weight: 700;
	}
	li {
		padding: 5px;
	}
</style>
