---
import { ViewTransitions } from 'astro:transitions';
import { getCollection, getEntry } from 'astro:content';
import Dwane from '../components/Dwane.astro';

interface Props {
	title: string;
}

let slug = Astro.params.slug;
console.log("slug layout: ", slug);

console.log("Astro.url: ", Astro.url);
if (Astro.url.pathname.includes('shop')){
	slug = "shop";
}

console.log("slug again: ", slug);
const { title } = Astro.props;


const allStarters = await getCollection('starter');
// console.log("allStarters: ", allStarters);

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<section>
			<header>
				<nav style="text-align: right">
					{slug && <a href="./">home</a>} {slug && slug !== "shop" && "|"} {slug !== "shop" && <a href="./shop">shop</a>}
				</nav>
				<div style="text-align: center">
					<label for="starter-select" id="starter-label">Clone this:</label>
					<br/>
					<select name="pages" id="starter-select">
						<option value="">select a starter</option>
						{allStarters.map(starterEntry => (
							<option value=`/${starterEntry.slug}` selected={starterEntry.slug === slug} >{starterEntry.data.name}</option>
						))}
					</select>
	
				</div>
					
			</header>
			<aside id="empty-space"></aside>
			<main>
				<slot />
			</main>
			<aside id="dwane-container">
				<Dwane mode=`${slug ? slug : "main"}` />
			</aside>
	
		</section>
		<dialog id="updates-dialog">
			Updates!
			<form method="dialog">
				<button>OK</button>
			</form>
		</dialog>
		
	</body>
</html>

<script>
	import { navigate } from 'astro:transitions/client';
	window.astroNavigate = navigate;
</script>

<script is:inline data-astro-rerun>
	

	document.addEventListener('astro:page-load', () => {
    // This only runs once.
    // setupStuff();
		console.log("astro:page-load");
			const selectEl = document.querySelector("#starter-select");
			console.log("selectEl: ", selectEl);
			selectEl.addEventListener("change", (e)=> {
				console.log("selectEl.value: ", selectEl.value);
				// location.href= selectEl.value;
				window.astroNavigate(selectEl.value);
			});

	}, { once: true });


</script>



<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--header-height: 100px;
		color-scheme: light dark;
	}
	html {
		font-family: system-ui, sans-serif;
		/* background: #13151a;
		background-size: 224px;
		color: white; */
	}

	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}


	nav {
		padding: 5px 5px 0 5px;
	}
	button {
		cursor: pointer;

	}
	/* a {
		color: white;
	} */

	select {
		font-size: 1.9rem;
		padding: 2px 5px;
		text-align: center;
	}

	h1, #starter-label {
		font-size: clamp(3rem, calc(3rem + 5vw), 6rem);
		/* font-size: 6rem; */
		font-weight: 900;
	}

	h2 {
		font-size: clamp(1.5rem, calc(1.5rem + 5vw), 3rem);
		/* font-size: 3.5rem; */
		margin: 5px;
	}

	h3 {
		font-size: clamp(0.6rem, calc(0.6rem + 5vw), 1.2rem);
	}

	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	section {
		display: grid;
		width: 100%;
		height: 100dvh;
		max-width: 1500px;
		grid-template-areas:
			"header header header"
			"empty main dwane";
		grid-template-columns: 300px 1fr 300px;
		grid-template-rows: 200px 1fr;
		margin: auto;
	}

	dialog #close {
		position: fixed;
		top: 0;
		right: 0;
	}

	::backdrop {
		background-color: rgb(0,0,0,.75);
	}

	@media (max-width: 968px) {
		section {
			grid-template-areas:
				"header header"
				"main dwane";
			grid-template-columns: 1fr 200px;
		}
	}

	@media (max-width: 680px) {
		section {
			grid-template-areas:
				"header"
				"main";
			grid-template-columns: 1fr;
		}
	}


	header {
		grid-area: header;
	}

	#empty-space {
		grid-area: empty;
	}

	#dwane-container {
		grid-area: dwane;
		position: relative;
	}

	main {
		grid-area: main;
	}

	@media (prefers-color-scheme: light) {
		html {
			color: black;
			background-color: white;
		}
		a {
			color: black;
		}
		mark {
			background-color: black;
		}
		mark a {
			color: white;
		}
	}

	@media (prefers-color-scheme: dark) {
		html {
			color: white;
			background-color:#201f1f;
		}
		a {
			color: white;
		}
		mark {
			background-color: white;
		}
		mark a {
			color: black;
		}

	}
</style>
